.generatedResponseBox {
  width: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 21px 19px 19px 19px;
  justify-content: center;
  align-items: center;
  //
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 40px 30px 0 rgba(0, 0, 0, 0.05), 0 1px 1px 0 rgba(255, 255, 255, 0.6) inset;
  backdrop-filter: blur(50px);

  &__spinnerContainer {
    height: 300px;
  }

  &__content {
    width: 100%;
    gap: 12px;
    color: white;
  }

  &__response {
    background-color: #333;
    padding: 12px;
    border-radius: 12px;
    min-height: 60px;
    justify-content: center;
  }

  &__toneSelector {
    gap: 16px;
    padding: 0px 0;
  }

  &__toneLabel {
    font-weight: bold;
  }

  &__toneButtons {
    gap: 12px;
    flex-wrap: wrap;
  }

  &__toneButton {
    justify-content: center;
    padding: 0;
    //
    display: flex;
    width: 50px;
    height: 50px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    //
    border-radius: 9999px;
    border: 1px solid rgba(255, 255, 255, 0.44);
    background: var(--white-shade-opacity-10, rgba(255, 255, 255, 0.1));
    box-shadow: 0 4px 16px 0 rgba(29, 29, 29, 0.12);
    backdrop-filter: blur(50px);

    &--selected {
      background-color: #007aff;
      border-color: #007aff;
    }
  }

  &__toneValue {
    font-size: 12px;
    color: #aaa;
  }

  &__sliderContainer {
    width: 100%;
    gap: 8px;
    padding: 0 12px;
  }

  &__sliderLabel {
    color: #aaa;
  }

  &__useSuggestionButton {
    width: 100%;
    padding: 12px 8px;
    background-color: #333;
    margin-top: 16px;
  }

  &__useSuggestionButtonText {
    color: white;
  }
}
